body {
  font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar {
  background-color: #1a100b !important; /* café elegante */
}

.navbar-brand img {
  height: 80px;
}

.navbar-brand span {
  letter-spacing: 1px;
}

.btn-success {
  background-color: #285936 !important;
  border: none;
}

.btn-success:hover {
  background-color: #1e4429 !important;
}

.btn-outline-light:hover {
  background-color: #fff !important;
  color: #1a100b !important;
}

/* Formulario translúcido */
.form-glass {
  background: rgba(255, 255, 255, 0.568);
  backdrop-filter: blur(6px);
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  padding: 30px;
}

/* Footer */
footer {
  background-color: #1a100b;
  color: #fff;
}

/* Ajustes del carrusel */
.carousel-item img {
  height: 600px;
  object-fit: cover;
}

.carousel-caption-top {
  z-index: 20;
}

.text-shadow {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}
