* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f9fc;
}

.login-container {
  display: flex;
  width: 80%;
  max-width: 1000px;
  height: 600px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.logo-login {
    width: 200px;              
    max-width: 90%;          
    display: block;
    margin: 0 auto 20px auto;  
    object-fit: contain;
    transition: transform 0.2s ease-in-out;
}


.logo-login:hover {
    transform: scale(1.05);
}



.image-side {
  flex: 1;
  background: #f3f3f3;
}

.image-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-side {
  flex: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  color: #2150b4;
  margin-bottom: 20px;
  text-align: center;
}

label {
  margin-top: 15px;
  font-weight: 600;
  color: #333;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  margin-top: 25px;
  margin: 20px auto 0 auto;
  background: linear-gradient(90deg, #3b3bff, #1d1dd9);
  display: block;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(59, 59, 255, 0.2);
}

button:hover {
  background: linear-gradient(90deg, #2a2ae6, #0000b8);
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(42, 42, 230, 0.4);
}


.error {
  color: red;
  margin-bottom: 15px;
  text-align: center;
  font-size: 14px;
}

p {
  text-align: center;
  margin-top: 20px;
}

a {
  color: #3b3bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
