body {
  background-color: #f8f9fa;
  font-family: 'Poppins', sans-serif;
}

.card {
  border: none;
  border-radius: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Encabezado */
.profile-header {
  background-color: #0d5534;
  color: white;
  border-radius: 1rem 1rem 0 0;
  padding: 2.5rem 1rem 1.5rem;
  text-align: center;
  position: relative;
}

/* Texto */
.profile-header h3 {
  margin-top: 0.5rem;
  font-weight: 700;
}

.profile-body {
  padding: 2rem;
}

.info-label {
  font-weight: 600;
  color: #0a0a0a;
}

/* Botones */
.btn-success {
  background-color: #198754;
  border: none;
}

.btn-success:hover {
  background-color: #157347;
}
