body {
  background: #f8f9fc;
  font-family: 'Poppins', sans-serif;
}


.register-container {
  background: #fff;
  border-radius: 1rem;
}

.form-side h2 {
  color: #000000;
}

.btn-success {
  background: linear-gradient(90deg, #198754, #00b894);
  border: none;
}

.btn-success:hover {
  background: linear-gradient(90deg, #157347, #00936e);
}

footer {
  background-color: #1a100b;
  color: #fff;
}

.footer h5 {
  color: #198754;
 
}
